<html ng-app="ContactsApp" lang="en">

<head>
    <title>Contacts App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers/contacts.controller.js"></script>
    <script src="services/config.service.js"></script>
    <script src="services/data.service.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
</head>

<body>
<div class="container" ng-controller="ContactsCtrl as main">
    <h1>{{main.getHeader()}}</h1><p>
    <button class="btn btn-info" ng-click="main.addContact()">Add New Contact</button>
</p>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li ng-class="{'list-group-item': true,'active': main.selectedIndex == $index}" ng-repeat="contact in main.contacts" ng-click="main.selectContact($index)">
                    <span>{{ contact.name.first + ' ' + contact.name.last }}</span>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="alert alert-success" ng-if="main.successMessage">{{main.successMessage}}</div>
            <div class="alert alert-danger" ng-if="main.dangerMessage">{{main.dangerMessage}}</div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="{{main.selectedElement.picture.large}}" alt="">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{main.selectedElement.name.first + ' ' + main.selectedElement.name.last}}</h3>
                    <p>
                        <label for="firstName">First Name:</label>
                        <span ng-hide="main.editMode">{{main.selectedElement.name.first}}</span>
                        <input id="firstName" ng-show="main.editMode" type="text" ng-model="main.selectedElement.name.first">
                    </p>
                    <p>
                        <label for="lastName">Last Name:</label>
                        <span ng-hide="main.editMode">{{main.selectedElement.name.last}}</span>
                        <input id="lastName" ng-show="main.editMode" type="text" ng-model="main.selectedElement.name.last">
                    </p>
                    <p>
                        <label>Location</label>
                    </p>
                    <p>
                        <label for="street">Street:</label>
                        <span ng-hide="main.editMode">{{main.selectedElement.location.street}}</span>
                        <input id="street" ng-show="main.editMode" type="text" ng-model="main.selectedElement.location.street">
                    </p>
                    <p>
                        <label for="city">City:</label>
                        <span ng-hide="main.editMode">{{main.selectedElement.location.city}}</span>
                        <input id="city" ng-show="main.editMode" type="text" ng-model="main.selectedElement.location.city">
                    </p>
                    <p>
                        <label for="postcode">Post Code:</label>
                        <span ng-hide="main.editMode">{{main.selectedElement.location.postcode}}</span>
                        <input id="postcode" ng-show="main.editMode" type="text" ng-model="main.selectedElement.location.postcode">
                    </p>
                    <p>
                        <label for="cell">Phone</label>
                        <span ng-hide="main.editMode">{{ main.selectedElement.cell }}</span>
                        <input id="cell" ng-show="main.editMode" type="text" ng-model="main.selectedElement.cell">
                    </p>
                    <button class="btn btn-info" ng-hide="main.editMode" ng-click="main.toggleEditMode()">Edit</button>
                    <button class="btn btn-info" ng-show="main.editMode" ng-click="main.saveContact()">Save</button>
                    <button class="btn btn-secondary" ng-show="main.editMode" ng-click="main.cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>